extends ../layout

block content
   div(class="postimage")
     img(class="Imagarticulo" width="1320" height="850" src="/images/wp.jpg")
     h1(class="posttitle ") Crea tu primer contenedor de WordPress en Docker
   br
   div(class="container")
      hr(style="color: black; background-color: black; width:100%;")
      br
      div(class="row")
         div(class="col-md-2")
           img(class="imagautor" src="https://platzi.com/blog/wp-content/authors/Juan%20Castro-95.jpg")
         div(class="col-md-3")
            h3 Pedro Garcias
         div(class="col-md-4")
         div(class="col-md-3")
           div(class="date") 9 de Marzo del 2016
      br
      h2(class="fonttitle") Crear un contenedor WordPress en Docker
      br
      p(class="fontparr") Ahora que ya sabes cómo desplegar contenedores en Docker y crear imágenes también; vamos a resolver una situación más particular. Imaginemos que tenemos un proyecto hecho en WordPress en el que configuramos una tienda online con la extensión WooCommerce.

      p(class="fontparr") Supongamos que nos dedicamos a trabajar como diseñadores independientes y tenemos 5 clientes que nos piden el diseño de una tienda online. ¡Y sólo tenemos 2 semanas para entregar! Ahora, configurar e instalar WordPress y WooCommerce es una tarea que toma un tiempo considerable. Pero con Docker este proceso es mucho más fácil.

      p(class="fontparr") Docker nos permite obtener toda la configuración y el entorno de desarrollo para correr nuestra aplicación. De esta manera, podemos tenerla lista para llevarla a producción en 

      p(class="fontparr") Ahora que ya sabes cómo desplegar contenedores en Docker y crear imágenes también; vamos a resolver una situación más particular. Imaginemos que tenemos un proyecto hecho en WordPress en el que configuramos una tienda online con la extensión WooCommerce.

      p(class="fontparr") Supongamos que nos dedicamos a trabajar como diseñadores independientes y tenemos 5 clientes que nos piden el diseño de una tienda online. ¡Y sólo tenemos 2 semanas para entregar! Ahora, configurar e instalar WordPress y WooCommerce es una tarea que toma un tiempo considerable. Pero con Docker este proceso es mucho más fácil.

      p(class="fontparr") Docker nos permite obtener toda la configuración y el entorno de desarrollo para correr nuestra aplicación. De esta manera, podemos tenerla lista para llevarla a producción en 