extends ../layout

block content
    script(src="../tinymce/tinymce.min.js")
    script
       |tinymce.init({
       |	selector: 'textarea',
       |height: 200,
       |theme: 'modern',
       |plugins: [
       |  'advlist autolink lists link image charmap print preview hr anchor pagebreak',
       |  'searchreplace wordcount visualblocks visualchars code fullscreen',
       |  'insertdatetime media nonbreaking save table contextmenu directionality',
       |  'emoticons template paste textcolor colorpicker textpattern imagetools'
       |],
       |toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist |outdent indent | link image',
       |toolbar2: 'print preview media | forecolor backcolor emoticons',
       |image_advtab: true,
       |templates: [
       |  { title: 'Test template 1', content: 'Test 1' },
       |  { title: 'Test template 2', content: 'Test 2' }
       |],
       |content_css: [
       |  'http://fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
       |  'http://www.tinymce.com/css/codepen.min.css'
       |]
       | });
    div(class="container")

      div(class="row margin")

         div(class="col-sm-3 col-md-1")
         div(class="col-sm-6 col-md-10")
               div(class="coment") Gestion de Nuevo Articulo
               hr(style="color: black; background-color: black; width:100%;")
               br
               br
               form(method='POST', action='/articulo/save', enctype='multipart/form-data')
                   div(class="form-group")
                     div(class="row")
                         div(class="col-md-6")
                             input(name="Titulo" type="text" class="form-control" placeholder="Titulo")
                             br
                             input(name="Autor" type="text" class="form-control" placeholder="Autor")
                     br
                     div(class="row")
                         div(class="col-md-12")
                             input(name="Descripcion" type="text" class="form-control" placeholder="Descripcion")
                             br
                             div(class="col-md-1")
                                label Portada
                             div(class="col-md-3")
                               div(class="fileupload fileupload-new" data-provides="fileupload")
                                  span(class="btn btn-default btn-file") 
                                    span(class="fileupload-new") Examinar
                                    span(class="fileupload-exists") Change
                                    input(name="portada"  type="file")
                                  span(class="fileupload-preview margin-left")
                                  a(id="FileNameSelect"  href="#" class="close fileupload-exists"   data-dismiss="fileupload" style="float: none") x
                             div(class="col-md-6")
                             div(class="col-md-2")
                                   a(id="btnPreview text-right" class="btn btn-primary")
                                     <span class="glyphicon glyphicon-eye-open"></span>
                             hr(style="color: black; background-color: black; width:100%;")
                             div(class="prevImag text-center" id="prevImag") not Image
                             hr(style="color: black; background-color: black; width:100%;")
                             

                     br
                     label Cuerpo
                     hr
                     textarea(name="Cuerpo"  class="form-control" placeholder="Cuerpo")
                      
                     br
                     br
                     div(class="form-group text-right")
                         button(type="submit" class="btn btn-primary ")
                            <span class="glyphicon glyphicon-ok"></span> Create

                         button(class="btn btn-danger")
                            <span class="glyphicon glyphicon-remove"></span> Cancel
         div(class="col-sm-3 col-md-1")

      
