doctype html
html
  head
    title= title
     meta(name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/articulos.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')

    script
      |$(document).ready(function(){
      |    $(".link1").css("border-bottom", "3px solid #9CCB3B");
      |    $(".link1").on("click",function(){
      |        $(".link1").css("border-bottom", "3px solid #9CCB3B");
      |        $(".link1").css("color", "white");
      |        $(".link2").css("border-bottom", "");
      |        $(".link3").css("border-bottom", "");
      |        $(".link4").css("border-bottom", "");
      |    });
      |    $(".link2").on("click",function(){
      |        $(".link2").css("border-bottom", "3px solid #9CCB3B");
      |        $(".link2").css("color", "white");
      |        $(".link1").css("border-bottom", "");
      |        $(".link3").css("border-bottom", "");
      |        $(".link4").css("border-bottom", "");
      |    });
      |    $(".link3").on("click",function(){
      |        $(".link3").css("border-bottom", "3px solid #9CCB3B");
      |        $(".link3").css("color", "white");
      |        $(".link4").css("border-bottom", "");
      |        $(".link1").css("border-bottom", "");
      |        $(".link2").css("border-bottom", "");
      |    });
      |    $(".link4").on("click",function(){
      |        $(".link4").css("border-bottom", "3px solid #9CCB3B");
      |        $(".link4").css("color", "white");
      |        $(".link1").css("border-bottom", "");
      |        $(".link2").css("border-bottom", "");
      |        $(".link3").css("border-bottom", "");
      |    });
      |});


  header
    nav(class="navbar navbar-default")
        div(class="container-fluid")
        div(class="navbar-header")
            a(class="navbar-brand" href="/")
                img(class="Imagcoment" src="http://res.cloudinary.com/gedgonz/image/upload/v1457199166/OC-Blog_pqzh4t.png")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
                span(class="sr-only") Desplegar navegación
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

        div(class="collapse navbar-collapse navbar-ex1-collapse")
            ul(class="nav navbar-nav navbar-right")
                li
                 a(href="/" class="link1") Home
                li
                 a(href="/login/new" class="link2") Registrarse
                li
                 a(href="#" class="link3") Contacto
                li
                 a(href="/login" class="link4") Login

  body
     block content
  div(class="footer")
      br
      p(style="text-align:center; margin-top:1em;") Copyright © 2016 by GedGonz 
         br
         span(style="text-align:  center; margin-top:0.5em;") BLOG
      br
      p(style="text-align:center; margin-top:2em;")
