.Imagarticulo
{
	height: 20em;
	min-height:100%;
	width: 100%; 
	max-height: 600px;
	min-height: 100%;
    opacity: 0.8;
}
.Cardarticulo
{
    height: 20em;
    min-height:100%;
    width: 100%; 
    max-height: 600px;
    min-height: 100%;
}
.ImageUser
{
    height: 8em;
    width: 35%
}
.ImageUpload
{
    height: auto;
    min-height:100%;
    width: 100%; 
    max-height: 350px;
    min-height: 100%;
    opacity: 0.8;
}
.imagautor
{
 min-width: 50px;
 max-width: 100%;
 border-radius: 100%;
}
#cuerpodata>p
{
	font-family: 'Crimson Text', serif;
	font-size: 1.5em;
	color: #515151
}
#cuerpodata>ul
{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    color: #515151
}
.date
{
	font-family: 'Crimson Text', serif;
	font-size: 1.2em;
	color: #515151
}
#cuerpodata>h1
{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 2.2em;
	color: #515151
}
#cuerpodata>h2
{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    color: #515151
}
#cuerpodata>h3
{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    color: #515151
}
.coment
{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    color: #515151
}
.postimage
{
	background-color: #191919;
    position: relative;
    margin-top: 3.7em;

}

.posttitle
{
    padding: 0 1em;
    border-bottom: 0 none;
    bottom: 0.7em;
    color: #fff;
    font-weight:bold;
    font-size: 3em;
    margin: 0 auto;
    padding: 0 8.1em;
    padding-bottom: 2em;
    position: absolute;
    text-shadow: rgba(0,0,0,0.8) 0px 1px 1px;
    text-rendering: auto;
    -webkit-font-smoothing: auto;

}

@media (max-width: 992px){
.imagautor
{
 max-width: 20%;
}
}

@media (max-width: 500px){
	.posttitle {
    max-width: 90%;
    padding: 0 1em;
    font-size: 3rem;
}
.imagautor
{
 max-width: 20%;
}
}
.contsmall
{

    padding-right: 0px;
    width: 75px;

}
.linkhide
{
    font-size: 13px;
}
.linkhide:hover
{
    color: #7D7A88;
    cursor:pointer;

}