extends ../layout

block content
    
    div(class="container")
         div(class="row margin")
            br
            br
            div(class="col-md-4")
            div(class="col-md-4")
               br
               br
               br
               div(class="wow bounceInDown")
                   span(style="padding-left: 1em;")
                       a(href="https://github.com/GedGonz")
                          img(alt="Ged Gonz" class="wow slideInLeft tamanioImag2" src="../images/github.png" title="Ged Gonz" style="visibility: visible; animation-name: slideInLeft;")
                   span(style="padding-left: 1em;")
                         a(href="https://plus.google.com/100260281819303854338")
                            img(alt="Ged Gonz" class="wow slideInLeft tamanioImag2" src="../images/google+.png" title="Ged Gonz" style="visibility: visible; animation-name: slideInLeft;")
                   span(style="padding-left: 1em;")
                         a(href="https://www.facebook.com/gerald.gonzalezzeledon")
                            img(alt="Ged Gonz" class="wow slideInLeft tamanioImag2" src="../images/facebooklogo.png" title="Ged Gonz" style="visibility: visible; animation-name: slideInLeft;")
            div(class="col-md-4")
         br
         br
         br
         br