extends ../layout

block content
    
    div(class="container")
         div(class="row margin")
            br
            br
            div(class="col-md-4")
            div(class="col-md-4")
               br
               br
               br
               div(class="wow bounceInDown")
                   span(style="padding-left: 1em;")
                       a(href="https://github.com/GedGonz")
                          <i class="fa fa-github fa-5x"></i>
                   span(style="padding-left: 1em;")
                         a(href="https://www.linkedin.com/in/gedgonz")
                          <i class="fa fa-linkedin-square fa-5x"></i>

            div(class="col-md-4")
         br
         br
         br
         br