extends ../layout

block content
    
    div(class="container")
         div(class="row margin")
            br
            br
            div(class="col-md-4")
            div(class="col-md-4")
               br
               br
               br
               div(class="wow bounceInDown")
                   span(style="padding-left: 1em;")
                       a(href="https://github.com/GedGonz")
                          <i class="fa fa-github fa-5x"></i>
                   span(style="padding-left: 1em;")
                         a(href="https://plus.google.com/100260281819303854338")
                          <i class="fa fa-google-plus fa-5x"></i>
                   span(style="padding-left: 1em;")
                         a(href="https://www.facebook.com/gerald.gonzalezzeledon")
                            <i class="fa fa-facebook-official fa-5x"></i>
            div(class="col-md-4")
         br
         br
         br
         br