extends ../layout

block content
    
    div(class="container")
         div(class="row margin")
            br
            br
            div(class="col-md-4")
            div(class="col-md-4")
               br
               br
               br
               div(class="wow bounceInDown")
                   span(style="padding-left: 1em;")
                       a(href="https://github.com/GedGonz")
                          img(alt="Ged Gonz" class="imageconacto" src="http://res.cloudinary.com/gedgonz/image/upload/e_grayscale/v1459651870/github_zcyla5.png" title="Ged Gonz" style="visibility: visible; animation-name: slideInLeft;")
                   span(style="padding-left: 1em;")
                         a(href="https://plus.google.com/100260281819303854338")
                            img(alt="Ged Gonz" class="imageconacto" src="http://res.cloudinary.com/gedgonz/image/upload/e_blackwhite/v1459651866/google_ivjvwk.png" title="Ged Gonz" style="visibility: visible; animation-name: slideInLeft;")
                   span(style="padding-left: 1em;")
                         a(href="https://www.facebook.com/gerald.gonzalezzeledon")
                            img(alt="Ged Gonz" class="imageconacto" src="http://res.cloudinary.com/gedgonz/image/upload/e_grayscale/v1459651857/facebooklogo_kib5tw.png" title="Ged Gonz" style="visibility: visible; animation-name: slideInLeft;")
            div(class="col-md-4")
         br
         br
         br
         br