extends ../layout
block content

   div(class="container")

      div(class="row margin")
      each art in Articulos
          div(class="col-sm-6 col-md-4") 
            div(class="thumbnail")
               img(class="Imagarticulo" width="1320" height="850" src="/images/wp.jpg")
               div(class="caption")
                h4 #{art.Titulo}
                p #{art.Descripcion}
                p #{art.Fecha}
                  div(class="text-right")
                     a(href="/articulo/design/#{art._id}" class="btn btn-default btn-sm" role="button") Ver mas..
                
